# PostgreSQL settings
POSTGRES_DB=your-db-name
POSTGRES_USER=your-db-user
POSTGRES_PASSWORD=your-db-password
POSTGRES_HOST=db
POSTGRES_PORT=5432

# sqlalchemy settings
SQLALCHEMY_DEBUG=false

# FastAPI settings
FASTAPI_DEBUG=false
FASTAPI_UPLOAD_FOLDER=your-upload-folder

# Security settings
SECRET_KEY=your-secret-key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_MINUTES=15

# Google OAuth
GOOGLE_CLIENT_NAME=your-google-client-name
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
GOOGLE_REDIRECT_URL=your-google-redirect-uri
