alembic
asyncpg
dishka
fastapi
pydantic
pydantic[email]
pydantic-settings
SQLAlchemy
uvicorn
authlib
passlib
python-jose
python-multipart
aiofiles
aiohttp
fake_useragent
beautifulsoup4
pyradios
redis
aioredis
arq
apscheduler
python-vlc
sqladmin==0.20.1
itsdangerous
